.vetech-cabin {
    width: 400px;
    min-height: 100px;
    font-size: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fff;
    position: absolute;
    left:0;
    top:0;
    visibility: hidden;
}

.vetech-cabin dl {
    margin: 0;
    width:100%;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}

.vetech-cabin dt {
    float: left;
    width: 80px;
    margin: 0;
    padding: 0;
}

.vetech-cabin dd {
    float: left;
    margin: 0;
    padding: 0;
}

.vetech-cabin .title {
    width: 62px;
    height: 20px;
    margin-top: 5px;
    line-height: 20px;
    color: #000;
    text-align: right;
    border: 1px solid #ccc;
}
/*.vetech-cabin .title:hover{
	background:#5cb85c;
	background-color:#5cb85c;
	color:#fff;
}*/

.vetech-cabin .title img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 3px;
    top: 5px;
}

.vetech-cabin ul, .vetech-cabin li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vetech-cabin li {
    float: left;
    margin-top: 5px;
}

.vetech-cabin .toolbar {
    height: 30px;
    line-height: 30px;
    border-bottom: none !important;
}

.vetech-cabin label {
    display: inline-block;
    width: 40px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    position: relative;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 10px;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    /*IE上样式bug*/
    float: left;
    box-sizing: content-box;
    font-weight: normal;
}

.vetech-cabin .publish-seat:hover,.vetech-cabin .no-publish-seat:hover {
    background-color: #f8b82e;
    border-color: #f8b82e;
    color: #fff;
}

.vetech-cabin dd label.active{
    background-image: url("img/cabinChecked.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.vetech-cabin dt label{
    background: url("img/typeUnChecked.png") 3px center no-repeat;
    background-size: 20px 20px;
}
.vetech-cabin dt label.active{
    background-image: url("img/typeChecked.png");
}

.vetech-cabin label img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.vetech-cabin label input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    outline: none;
    border: none;
    width:0;
    height:0;
}
.vetech-cabin label input:focus{
    outline: none;

}

.vetech-cabin .no-publish-seat {
    border-color: #16a0e3;
    color:#16a0e3;
}

.vetech-cabin .tips{
    height: 22px;
    background: #ccc;
    border: 1px solid #ccc;
    line-height: 22px;
    padding: 0 4px;
    margin-left: 5px;
    border-radius: 2px;
    margin-top: 2px;
    float: left;
}
.vetech-cabin .tips.bgRed{
    border-color: #16a0e3;
    color:#16a0e3;
}
.vetech-cabin .checked-all-btn{
    display: inline-block;
    text-align: center;
    width:34px;
    height:14px;
    line-height: 14px;
    margin-top:6px;
    background-image: none !important;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}
.vetech-cabin .checked-all-btn.active{
    color: #fff;
    background-color: #16a0e3;
    border-color: #16a0e3;
}
