.vetech-gjz-list{
    min-height: 20px;
    border: 1px solid #ccc;
    position: absolute;
    left:0;
    top:0;
    font-size: 12px;
    font-family: arial;
    background: #fff;
    display: none;
    z-index: 1000;
}

.vetech-gjz-list ul, .vetech-gjz-list li{
    list-style: none;
    margin: 0;
    padding:0;
}
.vetech-gjz-list li{
    height: 22px;
    line-height: 22px;
}

.vetech-gjz-list li.active{
    background: #0099FF;
    color: #fff;
}

.vetech-gjz-list label{
    display: inline-block;
    width:100%;
    height: 100%;
    cursor: pointer;
    font-weight: normal;
}


.vetech-gjz-list label  input{
    position: absolute;
    left: 0;
    top: 0;
    margin:0;
    padding:0;
    width:0;
    height: 0;
    opacity: 0;
    filter: alpha(opacity:0);
}

.vetech-gjz-list label img{
    /*vertical-align: middle;*/
    position: absolute;
    width:12px;
    margin:5px 3px;
}
.vetech-gjz-list label img.box{
    left:0;
}

.vetech-gjz-list label span{
    padding-left:20px;
}

.vetech-gjz-list label img.arrow{
    right: 0;
    width:8px;
    margin:7px 3px 7px 0;
}

