
.vetech-tab .hotAirport dl{
    width:50%;
    float: left;
    display: inline-block;
}
.vetech-tab .hotAirport li{
    margin:0 5px !important;
    width:auto !important;
}
.vetech-tab .hotAirport dl:nth-child(2n+1){
    clear: left;
}

.vetech-tab .tab-content li{
    width:15%;
}

.vetech-jchzl-container{
    min-height:50px;
}

.vetech-jchzl-container .city-header{
    font-weight: bold;
    font-size:14px;
    color:#000;
    background:#F0F8FF;
    height:32px;
    line-height:32px;
}
.vetech-jchzl-container .city-header span{
    display: block;
    float: left;
    padding-left:10px;
    width:40%;
}
.vetech-jchzl-container .city-header .backBtn{
    display: block;
    float: right;
    text-align: right;
    color:#0099FF;
    width:40%;
    padding-right:10px;
    cursor: pointer;
    font-weight: normal;
    font-size:12px;
}

.vetech-jchzl-container li{
    width:40% !important;
    float:left;
    cursor: pointer;
    height:30px;
    line-height:30px;
    text-indent: 25px;
    color:#333333 !important;
    margin:0 !important;
    background: url("img/air.png") no-repeat 5px 6px;
}
.vetech-jchzl-container li:hover{
    color:#fff !important;
    background:url("img/air_hover.png") no-repeat 5px 6px #2577E3 !important;
}