.vetech-swiper {
    width: 600px;
    height: 300px;
    position: relative;
    overflow: hidden;
   	border: 1px solid #ccc;
}

.vetech-swiper li,.vetech-swiper ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.vetech-swiper ul {
    height: 100%;
    width: 4200px;
    position: absolute;
    left: 0;
    top: 0
}

.vetech-swiper li {
    float: left;
    width: 600px;
    height: 100%;
    background: #000;
    position: relative
}
.vetech-swiper li p{
	background: url(img/bg-opacity05.png)repeat;
	color: #fff;
	position: absolute;
	left: 0px;
	bottom: 20px;
	line-height: 24px;
	padding-left: 10px;
	right: 0px;	
}

.vetech-swiper li img {
    position: absolute;
    left: 0;
    top: 0
}

.vetech-swiper .switch-bar {
    height: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 90%;
    left: 5%
}

.vetech-swiper .point {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background: url(img/circle1.png) no-repeat}

.vetech-swiper .point.active,.vetech-swiper .point:hover {
    background: url(img/circle2.png) no-repeat}

.vetech-swiper .switch-btn {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -24px;
    background: url(img/slide-btn.png) no-repeat;
    cursor: pointer
}

.vetech-swiper .switch-btn.leftBtn {
    left: 10px;
    background-position: -5px -36px
}

.vetech-swiper .switch-btn.leftBtn:hover {
    background-position: -126px -36px
}

.vetech-swiper .switch-btn.rightBtn {
    background-position: -65px -36px;
    right: 10px
}

.vetech-swiper .switch-btn.rightBtn:hover {
    background-position: -186px -36px
}