.vetech-menu-container{
	min-width: 100px;
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: arial;	
	position: absolute;
	visibility: hidden;
	background: #fff;
	left: 0;
	top: 0;
	z-index: 100000;
}

.vetech-menu-container ul, .vetech-menu-container li{
	list-style: none;
	margin:0;
	padding: 0;
}
.vetech-menu-container .menu-item{
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid #ccc;
	padding-right: 20px;
}
.vetech-menu-container .menu-item img{
	margin:4px 0 4px 4px;
	position: absolute;
	width: 16px;
	height: 16px;
}
.vetech-menu-container .menu-item span{
	display: inline-block;
	margin-left: 24px;
	padding-left: 4px;
	height: 100%;
	cursor: default;
	white-space: nowrap;
}
